<a href="/teacher/viewall" class="btn btn-info" style="margin-top:5px;">Back</a>
<h4>Editing Form for Student :<%= user.name %> </h4>
<form method="POST" class="addStu" autocomplete="off">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name : </label>
      <input type="text" name="name" required class="form-control" value="<%= user.name  %> " id="exampleInputEmail1">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Roll No. : </label>
        <input type="number" name="roll" value="<%= user.roll  %> " required class="form-control" id="exampleInputEmail1" >
      </div>     
     
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Date of Birth : </label>
        <input type="date" name="dob" value="<%= user.dob  %> " required class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Score : </label>
        <input type="number" name="score" value="<%= user.score  %> " required class="form-control" id="exampleInputEmail1">
      </div>
    <button type="submit" class="btn btn-success">Update</button>
</form>
